@use './variables' as var;

.post-search {
    width: 100%;
    min-width: var.$min-width;
    height: 300px;
    background-color: #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

    label {

    }

    input {
        width: 500px;
        height: 50px;
        margin: 0 20px;
    }

    button {
        width: 100px;
        height: 50px;
    }
}